.cite {
    /* Абзац с классом cite */
    color: navy;
    /* Цвет текста */
    margin-left: 20px;
    /* Отступ слева */
    border-left: 1px solid navy;
    /* Граница слева от текста */
    padding-left: 15px;
    /* Расстояние от линии до текста */
}

.myheader {
    height: 60px;
    background: black;
}

.qqq {
    text-align: center;
}